<div style="margin: 0; height: 100%; text-align: center;">
  <div style="width: 100%; height: 100px; background-color: #88CFE0; color: white;">
    <img src="https://satt.transporte.gob.hn:295/assets/logo.png" alt="logo" style="height: 80px; float: right; margin-right: 16px; margin-top: 10px">
    <p style="margin: 0;font-size: 30px; font-weight: bold; margin-left: 96px; padding-top: 35px">Sistema de Proveeduría</p>
  </div>
  <p class="title">Se ha creado una solicitud de requisición de materiales</p>
  <p style="margin: 0; margin-bottom: 16px"><strong>Empleado:</strong> {{ employee }}</p>
  <p style="margin: 0; margin-bottom: 16px">Para ver el listado de productos, clickear en Ver requisición</p>

  <div style="display: flex; justify-content: center; align-items: center; gap: 2rem;">
    <a class="button" href="https://satt.transporte.gob.hn:5700/api/supply-system/print-requisition/{{ id }}" style="text-decoration: none; font-size: 20px; font-weight: bold; color: white; background-color: #88CFE0; border-radius: 10px; padding: 10px;">VER REQUISICION</a>
    <a class="button" href="https://satt.transporte.gob.hn/index.php" style="text-decoration: none; font-size: 20px; font-weight: bold; color: white; background-color: #88CFE0; border-radius: 10px; padding: 10px;">IR AL SATT</a>
  </div>
  <p>Por favor, ingrese al satt para aceptar/cancelar la requisición.</p>
</div>
